@import "tailwindcss";

@layer base {

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.card {
    @apply border border-white rounded-2xl bg-gray-950/70 px-3 py-1 text-white text-center;
}

.input {
    @apply hover:bg-sky-300/20 focus:bg-sky-300/20 font-extrabold;
}

.badge {
    @apply border border-white bg-gray-950 py-1 rounded-2xl absolute -bottom-4 left-[50%] translate-x-[-50%];
}

.tab-selected {
    @apply cursor-pointer bg-white text-black font-bold
}

.btn {
    @apply cursor-pointer text-gray-950 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-1 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700
}

.btn-xs {
    @apply cursor-pointer text-gray-950 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-2 focus:ring-gray-100 font-medium rounded-lg text-xs px-3 py-0.5 me-1 mb-0.5 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700
}

.character-grid-rows {
    grid-template-rows: repeat(12, 4rem)
}